.consultation {
  min-height: 680px;
  padding: 100px 0px 92px 0px;
  background: url('../../img/img/background_2@2x.webp') center (center / cover)
    no-repeat;
  &_descr {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
  }
}
