.title {
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;

  &_white-left-increase {
    color: #ffffff;
    font-size: 36px;
    text-align: left;
  }
}
